/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);*/
    /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
    position: relative;
    background-image: url("assets/devmode-avatar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .80)!important;
}

.cover-container {
    max-width: 42em;
}


/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
    position: relative;
    color: #fff!important;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 500;
    color: rgba(255, 255, 255, .6);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    position: relative;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .4);
    position: relative;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
    position: relative;
}

.cover-heading {
    font-size: 4.0rem;
    position: relative;
    color: #fff!important;
}

.lead{
    font-size: 2.0rem;
    font-weight: 600;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left!important;
        padding-right: 3.0rem;
        position: relative;
        color: #fff!important;
    }
    .nav-masthead {
        float: right;
    }
}


/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}
.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}

.text-muted{
    position: relative;
    color: #fff!important;
}
